/* Espais costats*/
body{
    margin: 0;
    padding: 0;
}

/* Barra del Menú */
.menu {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    padding: 0 20px;
    z-index: 1000;
    transition: ease;   /* Posem aixó perqúe la transició sigui progresiu */
}

/* buttons menú */
.button {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color:gold;
    padding-right: 100px;
}

/* Estils buttons del menú*/
.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Caixa del botó reservar */
/* Transició opcional amb 3 propietats */
.button-reservar {
    position: fixed; 
    bottom: 20px;
    right: 20px; 
    background-color: black; 
    padding: 15px 25px; 
    border-radius: 10px; 
    cursor: pointer;
    z-index: 1000; 
    transition: background-color 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
}

/* Estils per al botó de reservar */
.reservar-button{
    color: white;
    text-decoration: none;
}

/* Cambia el color de reservar al pasar */
.button-reservar:hover {
    background-color: gold;
    border-radius: 20px;
}

/* Estils per la capçalera*/

/* Keyframe de l'animació de la capçalera */
@keyframes capcaleraApareix {
  0% { opacity: 0; transform: translateY(200px); color: orange; }   
  50% { opacity: 0.5; transform: translateY(125px); color: orange; }
  100% { opacity: 1; transform: translateY(0); color: rgb(255, 255, 255); }
}

.capcalera {
    width: auto; 
    height: 700px; 
    background-color: lightblue; 
}

/* fons per la capçalera*/
.fondo-capcalera{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0%;
    left: 0%;
}

/* nombre del restaurante en la capçalera */
.nombre {
    margin: 0px; 
    font-size: 4rem; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
}

/* Caixa del text capçalera */
.textcap{
    position: absolute; 
    top: 20%;
    left: 10%; 
    background-color: rgba(108, 100, 100, 0.5); 
    padding: 20px; 
    border-radius: 10px;
}

/* descripció restaurante */
.descripcion {
    margin: 0; 
    padding-left: 50px;
    font-size: 2.2rem; 
}

/* Animació de la capçalera aplicat al text,descripcio i quadrat de la capçalera */
.nombre , .textcap, .descripcion {
    animation: capcaleraApareix 2s ease forwards;
}

/* Nom del sobre nosaltres*/
h2{
    padding-top: 40px;
    padding-left: 125px;
    font-size: 4rem;
    color: gold;
    text-decoration: underline;    
}

/* Contenidor sobre nosaltres */

/* Animació Sobre Nosaltres */
@keyframes animacioNosaltres {
  0% { width: 20%; background-color: lightskyblue; transform: scale(0.3); }    /* Scale va fent un zoom i en final el deixa en la mida normal */
  25% { width: 40%; background-color: lightskyblue; transform: scale(0.6); }   
  75% { width: 60%; background-color: lightcyan; transform: scale(0.9); }
  100% { width: 80%; background-color: lightyellow; transform: scale(1); }
}

.contenedor{
    display: flex; 
    gap: 10px; 
    padding: 15px;
    padding-left: 200px;
    padding-right: 200px; 
}

/* Contenidor de las dos fotos de nosaltres */
.contenedorimg {
    width: 20%;
    height: 400px;
    text-align: center; 
    border-radius: 5%;
}

/* Contenidor dels dos texts de nosaltres*/
.contenedortext {
    width: 80%;
    height: auto;
    padding: 15px; 
    text-align: left; 
    animation: animacioNosaltres 2s ease forwards;  /* Animació per els contenidors de text del sobreNosaltres */
}

/* Textos del sobre nosaltres*/
.textnosaltres {
    margin-top: 80px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: black;
}

/* Fotos sobre nosaltres*/
.fotos-nosaltres {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Contenidor principal de la carta*/
.carta-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    grid-template-rows:  250px 250px 250px 250px 250px 250px  250px 250px 250px 250px;
    padding-top: 20px;
    padding-left: 250px;
    gap: 20px;
}

/* Els elements de la carta :*/

.menu-barra{
    grid-row : 1 / 2;
    grid-column: 1 / 6;
    background-color: rgb(255, 255, 135);
    align-content: center;
    padding-left: 42%;
    font-size: 5rem;
    
}

/* Primera meitat de la carta :*/
.menu1 {
    grid-row : 2 / 6;
    grid-column: 1 / 2;
    background-color: rgb(255, 255, 135);
    align-content: center;
    padding-left: 20%;
    font-size: 2.5rem;
}


.contingut1 {
    grid-row: 2 / 4;
    grid-column: 2 / 6;
    background-color: lightgoldenrodyellow;
    font-size: 3rem;
    display: inline-block;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.menu1-img1 {
    position: relative;
    grid-row: 4 / 6;
    grid-column: 2 / 4;
}

.img1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu1-img2 {
    position: relative;
    grid-row: 4 / 6;
    grid-column: 4 / 6;
}

.img2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Segona meitat de la carta :*/
.menu2 {
    grid-row : 6 / 10;
    grid-column: 1 / 2;
    background-color: rgb(255, 255, 135);
    align-content: center;
    padding-left: 20%;
    font-size: 2.5rem;
}

.contingut2 {
    grid-row : 6 / 8;
    grid-column : 2 / 6;
    background-color: lightgoldenrodyellow;
    font-size: 3rem;
    display: inline-block;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.menu2-img1 {
    position: relative;
    grid-row: 8 / 10;
    grid-column: 2 / 4;
}

.img3 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu2-img2 {
    position: relative;
    grid-row: 8 / 10;
    grid-column: 4 / 6;
}

.img4 {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Contenidor del overlay de las fotos de la carta :*/
.overlay {
    width: 620px;
    height: 100px;
    margin-top: 420px;
    color: rgb(0, 0, 0);
    background-color: gold;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    opacity: 0.5; 
    z-index: 1;
}

/* Contenidor de la galeria :*/

.galeria {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Els elements de la galeria :*/

/* Transicio a la galeria */
.imatge-galeria {
    position: relative;
    width: 23%;
    height: 300px;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, filter 0.5s ease;
    overflow: hidden;   
}

.imatge-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TRANSICIO :*/
.imatge-galeria:hover img{
    border: 8px solid rgb(255, 204, 109); 
    transform: scale(1.1) rotate(5deg);
    filter: grayscale(80%);
}


/* Videos */ 

.videos {
    padding: 20px;  /* Espai amb el body, responsive */
}

/* Video 1 */ 
.video-container {
  display: flex;
  justify-content: center;  /* Posem el vídeo al mig */
  align-items: center;
  padding-bottom: 20px; /* Deixem espai amb el vídeo d'abaix */
}

/* Video 2 amb botons personalitzats*/ 
.video-container2 {
  position: relative;  
  max-width: 800px;
  margin: auto;
}

.video-container2 video {
  width: 100%;
  display: block;
  height: auto;
}

/* Controls del vídeo perosnalitzats*/
.controls-personalitzats {
  position: absolute;  
  top: 0;   /* Barra dels controls a dalt del vídeo */ 
  width: 100%;
  background-color: black; 
  opacity: 0.7; /* Fons semitransparent */
  display: flex;
  justify-content: end; /* Controls al final*/
  align-items: center;
  padding: 15px 0; /* Padding adalt-abaix i costats de la barra*/
}

.controls-personalitzats .material-icons {
  font-size: 40px;
  color: white;
  margin: 0 5px;  /* Margin dels controls adalt-abaix i costats de la barra */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Transició del box-shadow */
}

.controls-personalitzats .material-icons:hover {
  box-shadow: 0 0 10px lightgoldenrodyellow;   /* Efecte de shadow sobre les icones */ 
}

/* Formulari per reservar: */
.form-reserva {
    padding-bottom: 50px;
}

.reserva {
    display: grid;
    grid-template-columns: repeat(8, 200px);
    grid-template-rows: repeat(8, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 800px;
    margin: 0 auto;
}

/* Elements del formulari per reservar: */

.nom-res {
    grid-row: 1/2;
    grid-column: 1/5;
    padding: 10px;
}

.persones-res {
    grid-row: 1/2;
    grid-column: 5/9;
    padding: 10px;
}

.data-res {
    grid-row: 2/3;
    grid-column: 1/5;
    padding: 10px;
}

.hora-res {
    grid-row: 2/3;
    grid-column: 5/9;
    padding: 10px;
}

.descripcio-res {
    grid-row: 3/5;
    grid-column: 1/9;
    padding: 10px;
}

.res-button {
    grid-row: 5/6;
    grid-column: 7/9;
    text-align: right;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5rem;
}

textarea {
    resize: none;
    height: 100px;
}

.posicio {
    width: 100%;
    padding: 10px;
    border: 1px solid gold;
    border-radius: 5px;
    font-size: 1.5rem;
}

.res {
    background-color: black;
    color: aliceblue;
    font-size: 1rem;
    padding: 20px 30px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    z-index: 1000; 
}

.res:hover {
    background-color: rgb(123, 255, 123);
}

/* Contenidor del footer */
footer {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px; 
    z-index: 100;
}


/* Estils del footer */
.contacte {
    display: flex;
    justify-content: left;
    gap: 20px; 
}

.footer-items-left {
    display: flex;
    align-items: center; 
    display: flex;
    justify-content: left;
    gap: 20px; 
}

.footer-item-right {
    display: flex;
    align-items: center; 
    margin-left: 1200px;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.icon {
    width: 90px;
    height: 90px;
}

p {
    font-weight: bolder;
    font-size: 1.3rem;
    color: white;
}



